<h2>Projects</h2>
<p>Total Projects: {{projectCount}}</p>
<p>Completed Projects: {{completedProjectCount}} </p>
<p>In Progress Projects: {{inProgressProjectCount}} </p>
<p>Planning Projects: {{planningProjectCount}} </p>
<app-create-project (projectCreated)="addProject($event)"></app-create-project>
@for (project of projects;track project.id)
{
<div class="project-card" [class.selected]="selectedProject?.id === project.id" (click)="selectProject(project.id)">
    <h3>{{ project.name}}</h3>

    <p>{{ project.description }}</p>
    <p>Status: {{ project.status}}</p>

    <button (click)="editProject(project); $event.stopPropagation()">Edit</button>
    <button (click)="deleteProject(project.id); $event.stopPropagation()">Delete</button>
</div>
}
@if (selectedProject)
{
<h3>Selected Project</h3>

<p>Name: {{ selectedProject.name }}</p>
<p>Description: {{selectedProject.description}}</p>
<p>Status: {{ selectedProject.status}}</p>
}
@else{
<p>No Project selected.</p>
}
@if (editingProject)
{
<h3>Edit Project</h3>
<p> {{editErrorMessage}} </p>

<label for="editProjectName">Project Name</label>
<input id="editProjectName" type="text" [(ngModel)]="editingProject.name" (input)="editErrorMessage = ''">

<label for="editProjectDescription">Project Description</label>
<textarea id="editProjectDescription" [(ngModel)]="editingProject.description">
</textarea>

<label for="editProjectStatus">Project Status</label>
<select id="editProjectStatus" [(ngModel)]="editingProject.status">
    @for (status of projectStatuses; track status){
    <option [value]="status">{{status}}</option>
    }
</select>

<button (click)="saveProject()">Save</button>
<button (click)="cancelEdit()">Cancel</button>
}